# This is a basic workflow to help you get started with Actions
name: Coffsy Workflow

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: Flutter Build

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    env:
      JAVA_VERSION: "11.0"
      FLUTTER_VERSION: "2.5.1"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: $

      - uses: subosito/flutter-action@v1
        with:
          flutter-version: $

      - run: flutter pub get

      - run: flutter analyze

      - run: flutter test
